<!DOCTYPE html >
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Arsenal Home Games</title>
	<meta name="author" content="Dan Wilson">
	<meta name="viewport" content="width=500" />
	<!-- Date: 2010-03-14 -->
	<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20643084-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<style type="text/css" media="screen">
    body { font-family: "Helvetica", "Arial";}
    td {padding:4px;}
    table {width:100%;}
    tr:nth-child(even) {background-color: #eee;}
    #footer {font-size:0.6em;text-align:right;}
    #answer {margin-top:100px;margin-bottom:100px;font-size:3em;text-align:center;}
</style>
<body>
    <h1>Arsenal home game today?</h1>
    <div id="answer">
        <p>{% if today %}Yup.{% else %}Nope.{% endif %}
    </div>
    
    <hr/>
    <p>Next few home games:</p>
    <table>
        {% for game in games %}
        <tr>
            <td>{{game.StartTime|date:"D, jS N G:i"}}</td>
            <td>{{game.Summary}}</td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <div id="footer">
        <p>Brought to you by Dan Wilson (<a href="http://twitter.com/danjwilson">@danjwilson</a>)
    </div>
</body>
</html>
